<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body style="background-image: url(/static/background.jpg);">
    <center>
        <h1>URL Shortener</h1><br><br><br><br><br><br>
        <div id="form" style="font-size: x-large;">
            <form method="POST" action="/">
                <label>Enter Url to shorten</label>
                <input type="url" name="url" placeholder="https://iamakhilesh.in/aboutme" required><br>
                <input type="submit">
            </form>
        </div>
    </center>
</body>
</html>